<?php if ($this->isAdmin) { ?>
<article class="review clearfix alert alert-<?= $post->getIsApproved() ? 'success' : 'danger' ?>" itemprop="review" itemscope itemtype="http://schema.org/Review" id="rev<?= $post->getId() ?>">
<?php } else { ?>
<article class="review clearfix" itemprop="review" itemscope itemtype="http://schema.org/Review" id="rev<?= $post->getId() ?>">
<?php } ?>
	<link itemprop="url" href="#rev<?= $post->getId() ?>">
	<?php if ($post->getImagePath() != '') { ?>
	<div class="image-float">
		<img class="image-center" src="<?= $post->getImagePath() ?>" itemprop="image" />
	</div>
	<?php } ?>
	<div class="comment">
		<h4 class="">
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name" class="username"><a class="email" href="mailto:<?= $post->getEmail() ?>" itemprop="email"><?= $post->getName() ?></a></span>
			</span>
			<small>
				<time class="datetime" itemprop="dateCreated" content="<?= $post->getDatetime() ?>"><?= $post->getDatetime() ?></time>
				<?= $this->isAdmin ? '<a class="edit" href="#">Редактировать</a>' : '' ?>
				<?= $post->getIsChanged() ? 'изменён администратором' : '' ?>
			</small>
		</h4>
		<p itemprop="reviewBody"><?= $post->getText() ?></p>
		<?php if ($this->isAdmin) { ?>
		<button type="button" class="confirm btn btn-<?= $post->getIsApproved() ? 'danger' : 'success'?>">
			<?= $post->getIsApproved() ? 'Отказать' : 'Подтвердить' ?>
		</button>
		<?php } ?>
	</div>
</article>