<!DOCTYPE html>
<html>
	<head>
		<title>Test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!--link rel="stylesheet" href="styles.min.css"-->
		<link rel="stylesheet" href="styles.min.css">
	</head>
	<body>
        <div class="container delim">
            <div class="row">
            	<a href="/tests/modelTest.php">Model</a>
                <section id="comments" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="Монастырёв"/>
					<h1 class="text-center">Отзывы</h1>
					<div >
						{$comments}
					</div>
				</section>
                <div>
                    <form name="sentMessage" class="clear" id="contactForm" role="form" novalidate>
                        <legend>Оставить отзыв</legend>
                        <div class="form-group">
                            <input type="text" class="form-control"
                               placeholder="Имя" id="name" required
                                   data-validation-required-message="Please enter your name" />
                            <p class="help-block"></p>
                        </div>  
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email"
                                        id="email" required data-validation-required-message="Please enter your email" />
                        </div>
                        <div class="form-group">
                            <textarea rows="10" cols="100" class="form-control"
                                   placeholder="Сообщение" id="message" required data-validation-required-message="Пожалуйста, введите текст сообщения"
                                    maxlength="10000" style="resize:none"></textarea>
                        </div>
                        <label class="form-group">
                            <div class="btn btn-info btn-file form-control">
                                Загрузить изображение<input type="file" style="display: none;">
                            </div>
                        </label>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control">Предварительный просмотр</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success form-control">Отправить</button>
                        </div>
                    </form>
                </div>
>			</div>
		</div>
	</body>
 </html>