<!DOCTYPE html>
<html>
	<head>
		<title>Test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	<script src="js/jquery.validate.min.js"></script>
    	<script src="js/modal.min.js"></script>
    	<script src="js/dropdown.min.js"></script>
		<script src="js/production.min.js"></script>
		<?= $this->isAdmin ? '<script src="js/confirm.min.js"></script>' : '' ?>
	</head>
	<body>
		<form class="editForm hidden" role="form">
			<div class="form-group">
				<textarea rows="5" cols="100" class="form-control" data-msg-maxlength="Сообщение не должно превышать 10000 символов"
							data-msg-required="Пожалуйста, введите текст сообщения" data-rule-required="true" data-rule-maxlength="10000">
				</textarea>
	        </div>
			<div class="form-group">
	            <button type="submit" class="save btn btn-success">Сохранить</button>
	            <button type="button" class="cancel btn btn-primary">Отмена</button>
	        </div>
		</form>
		<div id="preview" class="modal fade" role="dialog">
  			<div class="modal-dialog">
  				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Предварительный просмотр</h4>
					</div>
					<div class="modal-body">
						<article id="revPreview" class="review clearfix">
							<div class="image-float" id="imagePreviewDiv">
								<img class="image-center" id="imagePreview"/>
							</div>
							<div class="comment">
								<h4 class="">
									<a id="emailPreview"><span id="usernamePreview"></span></a>
									<small>
										<time id="timePreview"></time>
									</small>
								</h4>
								<p id="messagePreview"></p>
							</div>
						</article>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="container">
            <div class="row">
				<a href="?admin=1">Войти</a>
                <section id="comments" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="Монастырёв"/>
					<h1 class="text-center">Отзывы</h1>
					<div class="center-block text-center">
		            	<ul class="pagination">
		            		<li>
		            			<a>
			            			<span class="glyphicon glyphicon-menu-left"></span>
			            		</a>
		            		</li>
		            	 	<?= $paginator ?>
		            		<li>
		            			<a>
			            			<span class="glyphicon glyphicon-menu-right"></span>
			            		</a>
		            		</li>
						</ul>
					</div>
					 <div class="dropdown hidden-sm hidden-xs">
						<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Сортировать по:
						<span class="dropdown-value"> дате</span>
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li class="active"><a href="#" data-value="date">дате</a></li>
							<li><a href="#" data-value="username">имени</a></li>
							<li><a href="#" data-value="email">email</a></li>
						</ul>
					</div>
					 <div class="dropdown hidden-md hidden-lg">
						<button class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="dropdown">Сортировать по:
						<span class="dropdown-value"> дате</span>
						<span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="active"><a href="#" data-value="date">дате</a></li>
							<li><a href="#" data-value="username">имени</a></li>
							<li><a href="#" data-value="email">email</a></li>
						</ul>
					</div>
					<div class="comments">
						<?= $comments ?>
					</div>
					<div class="center-block text-center">
		            	<ul class="pagination">
		            		<li>
		            			<a>
			            			<span class="glyphicon glyphicon-menu-left"></span>
			            		</a>
		            		</li>
		            	 	<?= $paginator ?>
		            		<li>
		            			<a>
			            			<span class="glyphicon glyphicon-menu-right"></span>
			            		</a>
		            		</li>
						</ul>
					</div>
				</section>
				<?php if (!$this->isAdmin) { ?>
                <div>
                    <form name="sentMessage" class="clearfix" id="commentForm" role="form">
                        <legend>Оставить отзыв</legend>
                        <div class="form-group">
                            <input type="text" class="form-control"
                               placeholder="Имя" name="username" data-rule-required="true"
                                   data-msg-required="Пожалуйста, введите имя" />
                        </div>  
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" data-rule-email="true" data-rule-emailWithDot="true"
									name="email" data-msg-email="Некорректный email" data-rule-required="true"
									data-msg-required="Пожалуйста, введите email" data-msg-emailWithDot="Некорректный email" />
                        </div>
                        <div class="form-group">
                            <textarea rows="5" cols="100" class="form-control"
                                   placeholder="Сообщение" name="message" data-rule-required="true" data-msg-required="Пожалуйста, введите текст сообщения" data-msg-maxlength="Сообщение не должно превышать 10000 символов"
                                    data-rule-maxlength="10000"></textarea>
                        </div>
                        <div class="form-group clearfix hidden-sm hidden-xs">
                            <label class="btn btn-info btn-file pull-right">
                                Загрузить изображение<input type="file" class="file-input hidden" accept="image/png,image/gif,image/jpeg">
                            </label>
                        </div>
                        <div class="form-group hidden-sm hidden-xs">
                            <button type="button" class="btn btn-primary preview">Предварительный просмотр</button>
                            <button type="submit" class="btn btn-success pull-right">Отправить</button>
                        </div>
                        <div class="form-group clearfix hidden-md hidden-lg">
                            <label class="btn btn-info btn-file btn-block pull-right">
                                Загрузить изображение<input type="file" class="file-input hidden">
                            </label>
                        </div>
                        <div class="form-group hidden-md hidden-lg">
                            <button type="button" class="btn btn-primary btn-block preview">Предварительный просмотр</button>
                            <button type="submit" class="btn btn-success btn-block pull-right">Отправить</button>
                        </div>
                        <div class="alert alert-success fade text-center">
						  <strong>Сообщение отправлено!</strong>
						</div>
                    </form>
                </div>
				<?php } ?>
        	</div>
		</div>
	</body>
 </html>